.btn {
  @apply no-underline gap-2 h-11 px-4 border inline-flex cursor-pointer select-none 
         items-center justify-center border-transparent text-center 
         transition duration-100 ease-in-out rounded-md md:rounded-[8px];

  /* default btn */
  @apply bg-gray-4 text-sm;
  @media (hover: hover) {
    &:hover {
      @apply bg-gray-2;
    }
  }

  /* brand colors */
  &-primary {
    @apply border-primary bg-primary text-white outline-primary;
    @media (hover: hover) {
      &:hover {
        @apply border-primary-shade-1 bg-primary-shade-1;
      }
    }
  }

  &-primary-semilight {
    @apply border-primary-semilight bg-primary-semilight text-dark outline-primary-semilight;
    @media (hover: hover) {
      &:hover {
        @apply border-primary-dark bg-primary-dark;
      }
    }
  }

  &-secondary {
    @apply border-secondary bg-secondary text-white outline-secondary;
    @media (hover: hover) {
      &:hover {
        @apply border-secondary-dark bg-secondary-dark;
      }
    }
  }

  &-secondary-shade {
    @apply border-secondary-shade-1 bg-secondary-shade-1 text-white outline-secondary-shade-1;
    @media (hover: hover) {
      &:hover {
        @apply border-secondary-shade-1 bg-secondary-shade-1;
      }
    }
  }

  &-sky-blue {
    @apply border-sky-blue bg-sky-blue text-white outline-sky-blue;
    @media (hover: hover) {
      &:hover {
        @apply border-sky-blue-shade-1 bg-sky-blue-shade-1;
      }
    }
  }

  &-sky-blue-shade {
    @apply border-sky-blue-shade-1 bg-sky-blue-shade-1 text-white outline-sky-blue-shade-1;
    @media (hover: hover) {
      &:hover {
        @apply border-sky-blue-shade-1 bg-sky-blue-shade-1;
      }
    }
  }

  /* ghost variant */
  &-ghost {
    @apply border-transparent bg-current/10;
    @media (hover: hover) {
      &:hover {
        @apply border-current bg-current;
      }
    }

    &.btn-primary {
      @apply text-primary;
      @media (hover: hover) {
        &:hover {
          @apply border-primary bg-primary text-white;
        }
      }
    }

    &.btn-secondary {
      @apply bg-secondary-light text-secondary;
      @media (hover: hover) {
        &:hover {
          @apply border-secondary bg-secondary text-white;
        }
      }
    }
  }

  /* outline variant */
  &-outline {
    @apply border-current bg-transparent;
    @media (hover: hover) {
      &:hover {
        @apply border-gray-2 bg-gray-2;
      }
    }

    &.btn-primary {
      @apply text-primary;
      @media (hover: hover) {
        &:hover {
          @apply border-primary bg-primary text-white;
        }
      }
    }

    &.btn-secondary {
      @apply text-secondary;
      @media (hover: hover) {
        &:hover {
          @apply border-secondary bg-secondary text-white;
        }
      }
    }
  }

  /* icon button */
  &-icon {
    @apply p-0 w-11 h-11;

    i,
    svg {
      @apply w-6 h-6;
    }
  }

  /* disabled */
  /* &[disabled],
  &:disabled {
    @apply pointer-events-none border-black/0 dark:bg-neutral bg-black/20 
           dark:text-base-content text-black/20;
  }
  @media (hover: hover) {
    &[disabled]:hover,
    &:disabled:hover {
      @apply border-black/0 dark:bg-neutral bg-black/20 
             dark:text-base-content text-black/20;
    }
  } */

  /* sizes */
  /* &-xs {
    @apply h-6 px-2 text-xs;
  }
  &-sm {
    @apply h-8 px-3 text-sm;
  }
  &-md {
    @apply h-12 px-4 text-sm;
  }
  &-lg {
    @apply h-16 px-6 text-lg;
  }
  &-wide {
    @apply w-64 flex-nowrap;
  }
  &-block {
    @apply w-full;
  } */
  /* &-square {
    &:where(.btn-xs) {
      @apply h-6 w-6 p-0;
    }
    &:where(.btn-sm) {
      @apply h-8 w-8 p-0;
    }
    &:where(.btn-md) {
      @apply h-12 w-12 p-0;
    }
    &:where(.btn-lg) {
      @apply h-16 w-16 p-0;
    }
  } */
}
