@import "./fonts.css";
@import "tailwindcss";

@import "flowbite/src/themes/default";

@import "./header.css";
@import "./button.css";

@plugin "daisyui" {
  themes: false;
}

:root {
  /* colors */
  --current: currentColor;
  --sl-c-transparent: transparent;
  --sl-c-primary: #209aff;
  --sl-c-primary-light: #e6f4ff;
  --sl-c-primary-semilight: #cde9ff;
  --sl-c-primary-shade-1: #007adf;
  --sl-c-primary-shade-2: #00579f;
  --sl-c-primary-dark: #6abcff;
  --sl-c-secondary: #ff9c00;
  --sl-c-secondary-dark: #f0c37c;
  --sl-secondary-light: #fff6ee;
  --sl-c-secondary-shade-1: #d98b31;
  --sl-c-success: #54a466;
  --sl-c-danger: #f32e2e;
  --sl-c-sky-blue: #003460;
  --cl-c-gray-1: #2f3136;
  --sl-c-gray-2: #808184;
  --sl-c-gray-4: #d9d9d9;
  --sl-c-gray-5: #f9f9f9;
  --sl-c-dark: #030303;
  --sl-c-black: #000000;
  --sl-c-white: #ffffff;
}

@theme {
  /* reset colors */
  --color-*: initial;

  /* colors */
  --color-corrent: var(--current);
  --color-transparent: var(--sl-c-transparent);
  --color-primary: var(--sl-c-primary);
  --color-primary-light: var(--sl-c-primary-light);
  --color-primary-semilight: var(--sl-c-primary-semilight);
  --color-primary-shade-1: var(--sl-c-primary-shade-1);
  --color-primary-shade-2: var(--sl-c-primary-shade-2);
  --color-primary-dark: var(--sl-c-primary-dark);
  --color-secondary: var(--sl-c-secondary);
  --color-secondary-dark: var(--sl-c-secondary-dark);
  --color-secondary-light: var(--sl-secondary-light);
  --color-secondary-shade-1: var(--sl-c-secondary-shade-1);
  --color-success: var(--sl-c-success);
  --color-danger: var(--sl-c-danger);
  --color-sky-blue: var(--sl-c-sky-blue);
  --color-gray-1: var(--cl-c-gray-1);
  --color-gray-2: var(--sl-c-gray-2);
  --color-gray-4: var(--sl-c-gray-4);
  --color-gray-5: var(--sl-c-gray-5);
  --color-black: var(--sl-c-black);
  --color-dark: var(--sl-c-dark);
  --color-white: var(--sl-c-white);

  /* fonts */
  --font-dana: "Dana";

  --breakpoint-lg: 66.25rem; /* 1060px */
}

@layer base {
  body {
    @apply font-dana;
  }
}

@layer utilities {
  .container {
    width: 100% !important;
    max-width: 1402px !important;
    margin: 0 auto;
    padding: 0 25px;
  }

  .shadow-dropdown {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
  }

  .shadow-sidebar {
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.1);
  }

  .shadow-tooltip {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.06);
  }

}
