.header {
  @apply bg-white py-3.5;
  box-shadow: 0 4px 27px -12px rgba(0, 0, 0, 0.25);

  .dropdown-menu {
    @apply rounded-b-2xl z-60;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);

    & > ul > li {
      @apply cursor-pointer;
    }

    & > ul > li > button {
      @apply w-full flex items-center justify-between font-medium;
    }
  }
}
